.NavBar {
  display: flex;
  background-color: bisque;
}

.NavBar a {
  text-decoration: none;
  cursor: pointer;
}

#brand a {
  color: black;
}

.NavBar li {
  display: inline-block;
  margin: 0 10px;
}

.NavBar-nav {
  position:absolute;
  right: 30px;
}

.NavBar a {
  color: black;
}

.NavBar a:hover {
  color: black;
}

.NavBar a.active {
  color: tomato;
}